DATABASE_URL= #Neon DB URL

BETTER_AUTH_SECRET= #Better Auth Secret
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

GOOGLE_CLIENT_ID= #Google Client ID
GOOGLE_CLIENT_SECRET= #Google Client Secret

GITHUB_CLIENT_ID= #Github Client ID
GITHUB_CLIENT_SECRET= #Github Client Secret

RESEND_API_KEY= #Resend API Key
